.loading-mark {
    position: fixed;
    z-index: 5;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.loading-mark::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: var(--load-indicator-color) transparent var(--load-indicator-color) transparent;
    animation: load-rotation 1.2s linear infinite;
}

@keyframes load-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
